:root {
    --font-text: 'Onest', sans-serif;
    --font-title: 'Gotham', sans-serif;
    --font: normal 16px var(--font-text);
}

:root {
    --transition-linear: all 0.1s ease-in-out;
}

:root {
    --color-white: #ffffff;
    --color-blacked: #171717;
    --color-black: #2D2D2D;
    --color-text: #2D2D2D;
    --color-accent: #3384FF;
    --color-accent-2: #0076f6;
    --color-tiny: #747474;
    --color-block-secondary: #E9F2FF;
    --color-block: #EDEFF6;
    --color-border: #D0E3FF;

    --color-ok-block: #d1f2eb;
    --color-ok-text: var(--color-tiny);
    --color-ok-tiny: rgba(0, 214, 153, 0.15);
    --color-ok-accent: #00d699;;
    --color-ok-shadow: 0 3px 8px 0 rgba(20, 27, 52, 0.04);

    --color-danger-block: #f0dfe2;
    --color-danger-text: var(--color-tiny);
    --color-danger-tiny:  rgba(207, 87, 93, 0.15);
    --color-danger-accent: #cf575d;
    --color-danger-shadow: 0 3px 8px 0 rgba(20, 27, 52, 0.04);
}