#header {
    background: url("../../public/ump.jpg");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
}

.section-container {
    padding: 50px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-blur {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    padding: 0 10px;
    background: var(--color-head);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 999px;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    gap: 8px;
}

.nav-contact {
    padding: 0 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
}

.nav-menu {
    padding: 0 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    gap: 18px;
    
}

.nav-menu a {
    cursor: pointer;
    color: var(--color-white);
    padding: 0 10px;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.nav-contact {
    cursor: pointer;
}

.nav-contact:hover {
    background: var(--color-white);
    color: var(--color-base-brand);
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero-text {
    font-weight: 700;
    font-size: 84px;
    line-height: 1;
    max-width: 510px;
}

.hero-caption {
    font-weight: 500;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.1;
    max-width: 300px;
}

.hero-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}