.wrapper {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    background: var(--color-black);
    justify-content: space-between;
    height: 64px;
    padding: 8px;
    border-radius: 20px;
    max-width: 1280px;
    margin: 0 auto;
}

.nav a {
    color: var(--color-white);
    cursor: pointer;
}

.section-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 80px 0 80px;
    z-index: 1;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-menu a {
    font-size: 16px;
    font-weight: 500;
}

.nav-menu a:hover {
    color: var(--color-accent);
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 16px;
    padding: 0 15px;
    background: var(--color-accent);
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-weight: 500;
    border-radius: 16px;
    width: 153px;
    background: var(--color-accent);
}

.section-header {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    gap: 12px;;
}

.section-header > p {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    width: 850px;
    margin: 0 auto 32px auto;
}

.section-header h1 {
    font-weight: 700;
    text-align: center;
    font-size: 42px;
    color: var(--color-blacked);
    line-height: 129%;
    margin: 0;
    letter-spacing: -0.03em;
}

.section-header h1 p {
    color: var(--color-accent);
}

.header-hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-hero img {
    width: 1002px;
    height: 469px;
}

.hero-card {
    background: var(--color-accent);
    color: var(--color-white);
    border-radius: 24px;
    height: 141px;
    width: 282px;
    position: absolute;
    padding: 24px;
    font-size: 42px;
    text-align: left;
    font-weight: 700;
}

.hero-card p {
    font-weight: 400;
    font-size: 24px;
}

.hero-card-1 {
    left: 0;
    transform: rotate(-10deg);
}

.hero-card-2 {
    right: 0;
    transform: rotate(9deg);
}

.about-block {
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 24px;
}

.about-block {
    font-weight: 700;
    font-size: 32px;
    color: var(--color-text);
    opacity: 0.8;
    width: 718px;
    margin: 0 0 0 auto;
}

.section-title {
    border-radius: 999px;
    padding: 12px 16px;
    width: fit-content;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
    gap: 10px;
    line-height: 0;
    opacity: 1;
}

.section-title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    width: 32px;
    height: 32px;
    color: var(--color-accent);
    background: var(--color-white);
}

.section-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.section-title-text {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--color-tiny);
    opacity: 0.8;
    width: 966px;
}

.about-folders {
    display: flex;
    align-items: center;
    gap: 48px;
}

.about-folder {
    margin-top: 48px;
    width: 395px;
    height: 344px;
    padding: 58px 30px 30px 30px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-folder-1 {
    background: url("../../public/folder-1.png");
}

.about-folder-2 {
    background: url("../../public/folder-2.png");
    position: relative;
    top: 172px;
}

.about-folder-3 {
    background: url("../../public/folder-3.png");
    position: relative;
    top: 44px;
}

.about-folder-title {
    font-weight: 700;
    font-size: 70px;
}

.about-folder-text {
    font-weight: 400;
    font-size: 24px;
}

.fav-folders {
    display: flex;
    align-items: center;
    gap: 32px;
}

.fav-folder {
    margin-top: 48px;
    width: 402px;
    height: 423px;
    padding: 54px 30px 30px 30px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fav-folder-1 {
    background: url("../../public/group-1.png");
}

.fav-folder-2 {
    background: url("../../public/group-2.png");
}

.fav-folder-3 {
    background: url("../../public/group-3.png");
}

.fav-folder-title {
    font-weight: 700;
    font-size: 32px;
}

.fav-folder-text {
    font-weight: 400;
    font-size: 24px;
}

.product-cards {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 80px;
}

.product-card {
    width: 484px;
    border-radius: 40px;
    padding: 8px 8px 28px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.product-ok {
    background: var(--color-ok-block);
    color: var(--color-ok-text);
    box-shadow: var(--color-ok-shadow);
}

.product-danger {
    background: var(--color-danger-block);
    color: var(--color-danger-text);
    box-shadow: var(--color-danger-shadow);
}

.product-image {
    background: radial-gradient(50% 50% at 50% 50%, #fbfbfb 0%, #efefef 100%);
    border-radius: 32px;
    height: 289px;
}

.product-title {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    gap: 10px;
    align-items: center;
    line-height: 0;
}

.product-danger .product-title {
    color: var(--color-danger-accent)
}

.product-ok .product-title {
    color: var(--color-ok-accent)
}

.product-title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.product-danger .product-title-icon {
    background: var(--color-danger-tiny);
}

.product-ok .product-title-icon {
    background: var(--color-ok-tiny);
}

.product-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 179%;
    opacity: 0.8;
    color: var(--color-tiny);
}

.product-item-point {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
}

.product-danger .product-item-point {
    background: var(--color-danger-accent)
}

.product-ok .product-item-point {
    background: var(--color-ok-accent)
}

.product-items {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0 24px 0 24px;
}

.product-danger {
    transform: rotate(-3deg);
}

.product-ok {
    transform: rotate(3deg);
}

.tabs {
    border: 1px solid var(--color-border);
    border-radius: 999px;
    padding: 10px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 32px 0;
}

.tab {
    border-radius: 999px;
    padding: 10px 16px;
    pad: 0 16px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px
}

.tab:hover {
    opacity: 0.8;
}

.tab-active {
    background: var(--color-accent);
    color: var(--color-white);
    font-weight: 400;
}

.product-ok .product-image {
    background: url("../../public/man-ok.png") #efefef;
    background-position: center;
    background-size: cover;
}

.product-danger .product-image {
    background: url("../../public/man-danger.png") #efefef;
    background-position: center;
    background-size: cover;
}

.product-box {
    width: 1002px;
    height: 490px;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(51, 132, 255, 0.15);
    background: #f6f7fa;
    border: 4px solid var(--color-accent);
}